.confirmation-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-some-more-btn {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s;
  background-color: #000;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: #000;
    border: #000 solid;
  }
}
